@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h5,
p {
  color: black;
}
/*.carousel-caption {
  color: black;
}
.course-info4 {
  background-color: rgba(157, 201, 200, 1);
  width: 100%;
  height: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rubl-part {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.rubl-part h1 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 101%;
  letter-spacing: 0%;
}
.rubl-main p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101%;
  letter-spacing: 0%;
}
.rubl-main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 101%;
  letter-spacing: 0%;
}
.course-details {
  display: flex;
  width: 60%;
  gap: 70px;
}
.details-cards {
  width: 300px;
}
.details-cards h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101%;
  letter-spacing: 0%;
}
.details-cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101%;
  letter-spacing: 0%;
  padding-top: 20px;
} */
.footer-page {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  height: 390px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 300px;
  width: 80%;
}
.footer-social {
  display: flex;
}
/* .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
} */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo {
  width: 115px;
  height: 68px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}
.footer-social-m {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  gap: 12px;
}
.issue-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.footer-social p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.footer-social img {
  width: 27px;
  height: 27px;
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  /* .rubl-part h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .rubl-main p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .rubl-main h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 46px;
    line-height: 101%;
    letter-spacing: 0%;
  }

  .details-cards h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    letter-spacing: 0%;
  }

  .details-cards p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 101%;
    letter-spacing: 0%;
  } */

  .footer-logo {
    width: 66.60416412353516px;
    height: 39.38333511352539px;
  }
  .footer-social-m img {
    width: 19px;
    height: 19px;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 120px;
  }

  .footer-social p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .footer-social img {
    width: 15px;
    height: 15px;
  }
  .issue-date {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .course-info4 {
    background-color: rgba(157, 201, 200, 1);
    height: 451px;
  }
  .footer-page {
    height: 225px;
    position: fixed;
    bottom: 0;
  }
  .footer4 {
    height: 185px;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    /* justify-content: space-between; */
    /* height: 250px; */
  }
  .footer-social-m {
    display: flex;
    justify-content: space-between;
    width: 46%;
  }
  .course-info4 {
    height: 363.4583435058594px;
  }
  .footer4 {
    height: 200px;
  }
  .footer-page {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    height: 251px;
  }
  /* .rubl-part h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 101%;
    letter-spacing: 0%;
    width: 70%;
  }

  .rubl-main p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .rubl-main h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .details-cards h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 101%;
    letter-spacing: 0%;
  }

  .details-cards p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    max-width: 210px;
    line-height: 101%;
    letter-spacing: 0%;
  }
  .course-details {
    flex-direction: row;
    width: 100%;
    gap: 30px;
  }
  .details-cards {
    width: 47%;
  } */

  .footer-logo {
    width: 53px;
    height: 31px;
  }

  .footer-social-m img {
    width: 16px;
    height: 16px;
  }

  .footer-social img {
    width: 12px;
    height: 12px;
  }

  .footer-social p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 101%;
    letter-spacing: 0%;
  }

  .issue-date {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 101%;
    letter-spacing: 0%;
  }
}
